Better exception message if the URI's host is malformed

Or no exception whatsoever if this URI is legal according to the standard:

```
uri"https://.github.com/search"
```

Currently this gives:

```
java.lang.IllegalArgumentException: Empty label is not a legal name
	at java.base/java.net.IDN.toASCIIInternal(IDN.java:283)
	at java.base/java.net.IDN.toASCII(IDN.java:122)
	at java.base/java.net.IDN.toASCII(IDN.java:151)
	at sttp.model.internal.UriCompatibility$.encodeDNSHost(UriCompatibility.scala:7)
	at sttp.model.Uri$HostEncoding$.$anonfun$Standard$1(Uri.scala:697)
	at sttp.model.Uri$Segment.encoded(Uri.scala:590)
	at sttp.model.Uri$Authority.toString(Uri.scala:568)
	at sttp.model.Uri.$anonfun$toString$4(Uri.scala:300)
	at scala.Option.fold(Option.scala:263)
	at sttp.model.Uri.toString(Uri.scala:300)
	at java.base/java.lang.String.valueOf(String.java:4162)
	at java.base/java.io.PrintStream.println(PrintStream.java:1046)
```

I am probably wrong but I think that this passage 
![image](https://user-images.githubusercontent.com/59844835/168916153-9dafd920-8f07-4efa-b95b-7c16fb29924f.png)
from [RFC 3986 Section 3.2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2) mark `.github.com` as invalid hostname
From what I understand from RFCs 3986 and [1034](https://datatracker.ietf.org/doc/html/rfc1034#section-3.5) hostname formatted in this way either :

- is missing subdomain like `xxx.github.com`
- have `.` on the beginning what does not seems to be supported

yes, this seems to be an invalid URI then

I will try to fix it by end of week